<div class="main">
    <div class="registration-card border rounded shadow">
        <!-- Brand image-->
        <div class="w-100 d-flex justify-content-center mb-4">
            <h1 class="brand d-flex align-items-center">
                <mat-icon class="mr-2">school</mat-icon> alumni
            </h1>
        </div>
        <!-- End -->

        <div *ngIf="errors">
            <div class="relevant-text-error" *ngFor="let error of errors"> {{error}}</div>
        </div>

        <mat-horizontal-stepper class="w-100" [linear]="true">
            <ng-template matStepperIcon="basicInfo">
                <mat-icon>loyalty</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="academicInfo">
                <mat-icon>menu_book</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="securityInfo">
                <mat-icon>security</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="termConditions">
                <mat-icon>verified_user</mat-icon>
            </ng-template>

            <!-- Basic Information section -->
            <mat-step [stepControl]="basicInfo" state="basicInfo">
                <div class="w-100 d-flex justify-content-center">
                    <span class="relevant-text-title mb-2">
                        Dados básicos
                    </span>
                </div>
                <form class="w-100" [formGroup]="basicInfo">
                    <div class="d-flex flex-column mb-2">
                        <div class="irrelevant-text">
                            Insira o seu nome
                        </div>

                        <div class="d-flex">
                            <mat-form-field class="w-100 mr-2">
                                <mat-label>
                                    Primeiro nome
                                </mat-label>
                                <input type="text" matInput formControlName="firstName">
                                <mat-error *ngIf="firstName.touched && firstName.hasError('required')">
                                    Precisa inserir um nome
                                </mat-error>
                                <mat-error *ngIf="firstName.touched && firstName.hasError('pattern')">
                                    Formato do nome inválido
                                </mat-error>
                                <mat-error *ngIf="firstName.touched && firstName.hasError('maxLenght')">
                                    Nome excede o tamanho permitido
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-100">
                                <mat-label>
                                    Último nome
                                </mat-label>
                                <input type="text" matInput formControlName="lastName">
                                <mat-error *ngIf="lastName.touched && lastName.errors && lastName.hasError('required')">
                                    Precisa inserir um nome
                                </mat-error>
                                <mat-error *ngIf="lastName.touched && lastName.hasError('pattern')">
                                    Formato do nome inválido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-2">
                        <div class="irrelevant-text">
                            Insira o seu número de telefone
                        </div>

                        <div class="d-flex">
                            <mat-form-field class="w-100 mr-2">
                                <mat-label>
                                    Telefone
                                </mat-label>
                                <input type="tel" matInput formControlName="phoneNumber">
                                <mat-error
                                    *ngIf="phoneNumber.touched && phoneNumber.errors && phoneNumber.hasError('required')">
                                    Precisa inserir um número de telefone
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="w-100">
                                <mat-label>
                                    Email
                                </mat-label>
                                <input type="email" matInput formControlName="email">
                                <mat-error *ngIf="email.touched && email.errors && email.hasError('required')">
                                    Precisa inserir um nome
                                </mat-error>
                                <mat-error *ngIf="email.touched && email.errors && email.hasError('pattern')">
                                    Formato do email inválido
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-2">
                        <div class="irrelevant-text">
                            Insira a data de nascimento
                        </div>

                        <div class="d-flex">
                            <mat-form-field class="w-100">
                                <input type="date" matInput formControlName="birth" color="primary">
                                <mat-error *ngIf="birth.touched && birth.errors && birth.hasError('required')">
                                    Precisa inserir uma data de nascimento
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-4">
                        <div class="irrelevant-text mb-2">
                            Escolha o seu gênero
                        </div>

                        <div class="d-flex">
                            <mat-radio-group formControlName="genre">
                                <mat-radio-button value="m" class="mr-2">
                                    Masculino
                                </mat-radio-button>

                                <mat-radio-button value='f'>
                                    Feminino
                                </mat-radio-button>
                                <mat-error *ngIf="genre.touched && genre.errors && genre.hasError('required')">
                                    Precisa inserir o seu gênero
                                </mat-error>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                        <button mat-button matStepperNext class="button-bg-accent-1 w-50 mb-2">
                            Avançar
                        </button>
                        <button mat-button color="warn">
                            Cancelar
                        </button>
                    </div>
                </form>
            </mat-step>
            <!-- End -->

            <!-- academicInfo information -->
            <mat-step [stepControl]="profInfo" state="profInfo">
                <div class="w-100 d-flex justify-content-center">
                    <span class="relevant-text-title mb-2">
                        Dados profissionais
                    </span>
                </div>
                <form class="w-100" [formGroup]="profInfo">
                    <div class="irrelevant-text">
                        Insira o seu mecanográfico
                    </div>
                    <div class="d-flex flex-column mb-2">
                        <mat-form-field class="w-100">
                            <input type="text" matInput [formControl]="mec" color="primary">
                            <mat-error *ngIf="mec.touched && birth.errors && mec.hasError('required')">
                                Precisa inserir o seu mecanográfico
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="d-flex flex-column mb-2">
                        <div class="irrelevant-text">
                            Escolha o órgão a que pertence
                        </div>
                        <mat-form-field class="w-100 mr-2">
                            <mat-label>
                                Órgão
                            </mat-label>
                            <mat-select [formControl]="organ">
                                <ng-container *ngFor="let organ of organs$ | async as organs">
                                    <mat-option [value]="organ.id">{{organ.name}}</mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error *ngIf="organ.touched && organ.errors && organ.hasError('required')">
                                Insira o nome órgão
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="irrelevant-text">
                        Ocupa algum cargo de coordenação da área ?
                    </div>
                    <div class="d-flex flex-column mb-2">
                        <mat-radio-group [formControl]="responsable">
                            <mat-radio-button value="1" class="mr-2">
                                Sim
                            </mat-radio-button>

                            <mat-radio-button value='0'>
                                Não
                            </mat-radio-button>
                            <mat-error
                                *ngIf="responsable.touched && responsable.errors && responsable.hasError('required')">
                                Precisa escolher uma opção
                            </mat-error>
                        </mat-radio-group>
                    </div>

                    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                        <button mat-button matStepperNext class="button-bg-accent-1 w-50 mb-2">
                            Avançar
                        </button>
                        <button mat-button matStepperPrevious color="warn">
                            Voltar
                        </button>
                    </div>
                </form>
            </mat-step>
            <!-- End -->

            <!-- Security information -->
            <mat-step [stepControl]="securityInfo" state="securityInfo">
                <div class="w-100 d-flex justify-content-center">
                    <span class="relevant-text-title mb-2">
                        Dados de Segurança
                    </span>
                </div>
                <form class="w-100" [formGroup]="securityInfo">
                    <div class="d-flex flex-column mb-2">
                        <div class="irrelevant-text">
                            Escolhe uma palavra passe forte
                        </div>

                        <mat-form-field class="w-100 mb-2">
                            <mat-label>
                                Palavra passe
                            </mat-label>
                            <input type="text" matInput formControlName="password">
                            <mat-error *ngIf="password.touched &&  password.hasError('required')">
                                Insira uma palavra passe
                            </mat-error>
                            <mat-error *ngIf="password.touched && password.hasError('min(5)')">
                                Palavra passe muito curta
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100 mb-2">
                            <mat-label>
                                Confirmar
                            </mat-label>
                            <input type="text" matInput formControlName="cpassword">
                            <mat-error *ngIf="cpassword.touched && cpassword.hasError('required')">
                                Insira a palavra passe
                            </mat-error>
                            <mat-error *ngIf="cpassword.touched && cpassword.hasError('matched')">
                                As palavras passes não são iguais
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                        <button mat-button matStepperNext class="button-bg-accent-1 w-50 mb-2">
                            Avançar
                        </button>
                        <button mat-button color="warn">
                            Voltar
                        </button>
                    </div>
                </form>
            </mat-step>
            <!-- End -->

            <!-- Terms and conditions-->
            <mat-step state="termConditions">
                <div class="d-flex flex-column">
                    <div class="w-100 d-flex justify-content-center">
                        <span class="relevant-text-title mb-2">
                            Terminar o registo
                        </span>
                    </div>
                    <div class="irrelevant-text text-center mb-4 w-100">
                        Ao clicares em Registar, aceitas os nossos <a href="#"> Termos e condições</a>
                        e a <a href="#"> Política de Cookies</a>.
                    </div>
                    <div class="irrelevant-text text-center mb-4">
                        Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore
                        veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo enim ipsam voluptatem quia voluptas
                        sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </div>
                    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                        <button mat-flat-button
                            class="button-bg-accent-1 w-100 mb-2 d-flex justify-content-center align-items-center"
                            style="height: 2rem;" [disabled]="inProgress" (click)="submit($event.target)">
                            <mat-spinner color="primary" diameter=20 *ngIf="inProgress"></mat-spinner>
                            <span *ngIf="!inProgress">Registar</span>
                        </button>
                    </div>
                </div>
            </mat-step>
            <!-- End -->
        </mat-horizontal-stepper>
    </div>

</div>