<div class="d-flex justify-content-between">
    <h2 mat-dialog-title>
        Nova Formação
    </h2>
    <button mat-icon-button>
        <mat-icon mat-dialog-close>
            close
        </mat-icon>
    </button>
</div>
<mat-dialog-content class="w-100 justify-content-center align-items-center d-flex m-0">
    <form [formGroup]="formationGroup" class="w-100 h-100 mt-4">
        <div>
            <label>Insira o tema da formação</label>
            <mat-form-field class="w-100" appearance="outline" color="accent">
                <mat-label>Tema</mat-label>
                <input type="text" matInput [formControl]="themeControl">
                <mat-error *ngIf="themeControl.touched && themeControl.hasError('required')">
                    O campo não pode estar vazio
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <label class="d-block">Escolha a categoria da formação</label>
            <mat-form-field appearance="fill">
                <mat-label>Categoria</mat-label>
                <mat-select [formControl]="categoryControl">
                    <mat-option value="1">Tecnologia</mat-option>
                    <mat-option value="2">Economia</mat-option>
                    <mat-option value="3">Finanças</mat-option>
                    <mat-option value="4">Contabilidade</mat-option>
                    <mat-option value="5">Auditória</mat-option>
                    <mat-option value="6">Jurídico</mat-option>
                    <mat-option value="7">Marketing</mat-option>
                </mat-select>
                <mat-error *ngIf="categoryControl.hasError('required')"> O campo não pode estar vazio</mat-error>
            </mat-form-field>
        </div>

        <div>
            <label>Insira o preço da formação </label>
            <mat-form-field class="w-100" appearance="outline" color="accent" appearance="fill">
                <input type="number" matInput [formControl]="priceControl" min="0" class="amount" placeholder="0">
                <span matPrefix class="relevant-text-bold"> AOA</span>
                <span matSuffix>.00</span>
                <mat-error *ngIf="priceControl.touched && priceControl.hasError('required')">
                    O campo não pode estar vazio
                </mat-error>
            </mat-form-field>
        </div>
        <div class="irrelevant-text text-disabled-1 mb-1">
            Escolha uma imagem como miniatura
        </div>
        <div class="d-flex justify-content-start">
            <div class="p-relative">
                <div [style]="{'height':'6rem', 'width':'6rem'}"
                    class="d-flex justify-content-center align-items-center border">
                    <mat-icon *ngIf="!imgUrl; else preview"> image </mat-icon>

                    <ng-template #preview>
                        <div class="thumbnail-preview">
                            <img [src]="imgUrl" alt="">
                        </div>
                    </ng-template>
                </div>

                <input *ngIf="!imgUrl" type="file" #fileInput id="uploadFile"
                    (change)="uploadImageEvt($event)" name="uploadFile" accept="image/*" />
            </div>
        </div>
        <div class="w-100">
            <mat-form-field class="w-100">
                <mat-label>
                    O que será ensinado
                </mat-label>
                <textarea id="description-field" [formControl]="descriptionControl" matInput></textarea>
                <mat-error *ngIf="descriptionControl.touched && descriptionControl.hasError('required')">
                    O campo não pode estar vazio
                </mat-error>
                <mat-error *ngIf="descriptionControl.touched && descriptionControl.errors?.maxlength">
                    Descrição demasiado extensa
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<div class="d-flex w-100 justify-content-center" mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="onCreateFormation()" ngSubmit
        class="w-25 d-flex justify-content-center align-items-center" style="height: 2rem;" [disabled]="submited">
        <mat-spinner color="primary" diameter=20 *ngIf="submited"></mat-spinner>
        <span *ngIf="!submited">Criar</span>
    </button>
</div>