<div class="main">
    <div class="section">
        <div class="container-column" *ngIf="lesson && article; else loadingItems">
            <div class="p-relative close-view">
                <button matTooltip="Terminar leitura" mat-icon-button mat-dialog-close>
                    <mat-icon>
                        close
                    </mat-icon>
                </button>
            </div>
            <div class="my-3">
                <h1 style="font-size: 2rem;">
                    {{lesson.title}}
                </h1>
            </div>
            <div class="d-flex mb-3">
                <div class="img-profile-xm mb-1" *ngIf="lesson.schoolPicture">
                    <img [src]="lesson.schoolPicture | imgUrl">
                </div>
                <div class="img-profile-xm-none" *ngIf="!lesson.schoolPicture">
                    <div></div>
                </div>
                <div class="d-flex flex-column justify-content-center ml-2">
                    <span class="text-disabled-1 irrelevant-text-sm">
                        {{lesson.schoolName}}
                    </span>
                    <span class="text-disabled-1 irrelevant-text-sm">
                        {{lesson.date | date}}
                    </span>
                </div>
            </div>
            <div class="background-image">
                <img [src]="lesson.picture | imgUrl">
            </div>
        </div>
        <ng-container *ngIf="article; else loadingPage">
            <text-visualizer [content]="article.delta"></text-visualizer>
        </ng-container>

        <mat-divider></mat-divider>

        <div class="d-flex mb-4" [style.marginTop.rem]="4">

            <div class="d-flex w-50" *ngIf="lesson">
                <div class="img-profile-md mb-1" *ngIf="lesson.schoolPicture">
                    <img [src]="lesson.schoolPicture | imgUrl">
                </div>
                <div class="img-profile-md-none" *ngIf="!lesson.schoolPicture">
                    <div></div>
                </div>
                
                <div class="d-flex flex-column ml-4">
                    <span class="text-disabled-1 irrelevant-text">
                        Escrito por
                    </span>
                    <span>
                        <h3 class="relevant-text-title-lg my-2" style="font-size: 1.4rem;">
                            {{lesson.schoolName}}
                        </h3>
                    </span>
                    <span class="text-disabled-1 about-user">
                        {{lesson.description}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingItems>
    <app-loading-item class="mb-4"></app-loading-item>
</ng-template>

<ng-template #loadingPage>
    <app-loading-page class="w-100"></app-loading-page>
</ng-template>