<div class="main">
    <div class="section">
        <div class="mb-2 ">
            <h1 class="bold-500">
                Painel de controle
            </h1>
        </div>
        <div class="container-row">
            <!-- Studants requests summary-->
            <div class="studants-requests item border rounded">
                <!-- Title card -->
                <div class="relevant-text-title mb-4 px-3 pt-3 d-flex align-items-center justify-content-between">
                    <span>
                        Matriculas pendentes
                    </span>
                    <button mat-icon-button>
                        <mat-icon> more_vert</mat-icon>
                    </button>
                </div>
                <!-- End -->

                <!-- Relvant information -->
                <div class="irrelevant-text mb-2 px-3">
                    A tua permissão é necessária quando a turma é aberta
                </div>
                <!-- End -->

                <!-- Studant request -->
                <div class="d-flex align-items-center px-3 w-100 mb-3">
                    <!-- Studant image -->
                    <div class="img-profile-xm align-self-start mr-2 mt-2">
                        <img src="../../../assets/images/pexels-luis-gomes-546819.jpg">
                    </div>
                    <!-- End -->

                    <!-- Relevant metadata -->
                    <div class="d-flex flex-column w-100">

                        <!-- Studant name -->
                        <div class="irrelevant-text bold-500">
                            <a href="#" class="discretLink">
                                Abel Francisco
                            </a>
                            <span class="bold-400"> deseja matricular-se na</span>
                        </div>
                        <!-- End -->

                        <!-- Teacher place name and code-->
                        <div class="d-flex align-items-center">
                            <a href="" class="primaryLink">
                                <h5>
                                    Turma de Algoritmo e Programação
                                </h5>
                            </a>
                            <div class="circle-diviser"></div>
                            <div class="irrelevant-text">
                                <h5>
                                    MA202001
                                </h5>
                            </div>
                        </div>
                        <!-- End -->

                        <!-- Elapsed time -->
                        <div class="irrelevant-text text-disabled">
                            há 2 segundos
                        </div>
                        <!-- End -->

                        <!-- Actions -->
                        <div class="d-flex justify-content-start align-items-center w-100">
                            <button mat-button class="mr-2"> Aceitar </button>
                            <button mat-button color="warn"> Cancelar </button>
                        </div>
                        <!-- End -->
                    </div>
                    <!-- End -->
                </div>
                <!-- End -->

                <mat-divider class="mb-3"></mat-divider>

                <!-- Studant request -->
                <div class="d-flex align-items-center px-3 w-100 mb-3">
                    <!-- Studant image -->
                    <div class="img-profile-xm align-self-start mr-2 mt-2">
                        <img src="../../../assets/images/pexels-jawm-ling-2748123.jpg">
                    </div>
                    <!-- End -->

                    <!-- Relevant metadata -->
                    <div class="d-flex flex-column w-100">

                        <!-- Studant name -->
                        <div class="irrelevant-text bold-500">
                            <a href="#" class="discretLink">
                                Xavier Manuel
                            </a>
                            <span class="bold-400"> deseja matricular-se na</span>
                        </div>
                        <!-- End -->

                        <!-- Teacher place name and code-->
                        <div class="d-flex align-items-center">
                            <a href="" class="primaryLink">
                                <h5>
                                    Ciência do saber
                                </h5>
                            </a>
                            <div class="circle-diviser"></div>
                            <div class="irrelevant-text">
                                <h5>
                                    MA202002
                                </h5>
                            </div>
                        </div>
                        <!-- End -->

                        <!-- Elapsed time -->
                        <div class="irrelevant-text text-disabled">
                            há 2 segundos
                        </div>
                        <!-- End -->

                        <!-- Actions -->
                        <div class="d-flex justify-content-start align-items-center w-100">
                            <button mat-button class="mr-2"> Aceitar </button>
                            <button mat-button color="warn"> Cancelar </button>
                        </div>
                        <!-- End -->
                    </div>
                    <!-- End -->
                </div>
                <!-- End -->
            </div>
            <!-- End -->

            <!-- Finance summary -->
            <div class="item teacher-place-finance border rounded">
                <!-- Title card -->
                <div class="relevant-text-title mb-4 px-3 pt-3 d-flex align-items-center justify-content-between">
                    <span>
                        Finanças
                    </span>

                    <button mat-icon-button matTooltip="escolher turma">
                        <mat-icon>
                            view_list
                        </mat-icon>
                    </button>
                </div>
                <!-- End -->

                <!-- Subtitle card -->
                <div class="mb-2 px-3 ">
                    <h4>
                        Turma de Análise estatística II
                    </h4>
                </div>
                <!-- End -->

                <!-- The value to receive per teacher place -->
                <div class="d-flex flex-column px-3 mb-2">
                    <div class="irrelevant-text">
                        Preço
                    </div>
                    <div>
                        <h5 class="bold-400 relevant-text-info">
                            1200 AOA/mês
                        </h5>
                    </div>
                </div>
                <!-- End -->

                <!-- The value to receive per teacher place -->
                <div class="d-flex flex-column px-3 mb-2">
                    <div class="irrelevant-text">
                        Lucro
                    </div>
                    <div>
                        <h2 class="bold-400">
                            3600 AOA
                        </h2>
                    </div>
                </div>
                <!-- End -->
                <mat-divider class="mb-2"></mat-divider>
                <!-- The value to receive per teacher place -->
                <div class="d-flex flex-column px-3 mb-2">
                    <div class="irrelevant-text">
                        Valor total por receber
                    </div>
                    <div>
                        <h2 class="bold-400">
                            120000 AOA
                        </h2>
                    </div>
                </div>
                <!-- End -->

                <mat-divider class="mb-2"></mat-divider>

                <!-- Studants inscrited in present month -->
                <div class="d-flex flex-column px-3">
                    <div class="mb-2">
                        <h4 class="bold-500 m-0">
                            Receita mensal
                        </h4>
                    </div>

                    <!-- Studant fincancial information -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="img-profile-xm mr-3">
                            <img src="../../../assets/images/pexels-pixabay-207691.jpg">
                        </div>

                        <!-- Studant name -->
                        <div class="irrelevant-text w-100">
                            <a href="#" class="discretLink bold-500">
                                Manuel Simão
                            </a>
                            <span>
                                matriculou-se por
                            </span>
                            <span class="relevant-text-info ml-1">
                                1200 AOA
                            </span>
                        </div>
                        <!-- End -->
                    </div>
                    <!-- End -->

                    <!-- Studant fincancial information -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="img-profile-xm mr-3">
                            <img src="../../../assets/images/pexels-jawm-ling-2748123.jpg">
                        </div>

                        <!-- Studant name -->
                        <div class="irrelevant-text w-100">
                            <a href="#" class="discretLink bold-500">
                                Eloisa Gonçalves
                            </a>
                            <span>
                                matriculou-se por
                            </span>
                            <span class="relevant-text-info ml-1">
                                2400 AOA
                            </span>
                        </div>
                        <!-- End -->
                    </div>
                    <!-- End -->

                </div>
                <!-- End -->
            </div>
            <!-- End -->

            <!-- Studants enrolled in class -->
            <div class="item rounded teacher-place-enrolled border rounded">
                <!-- Title card -->
                <div class="relevant-text-title mb-4 px-3 pt-3 d-flex align-items-center justify-content-between">
                    <span>
                        Alunos matriculados
                    </span>
                    <button mat-icon-button>
                        <mat-icon> view_list</mat-icon>
                    </button>
                </div>
                <!-- End -->

                <!-- Button to enroll-->
                <div class="w-100 d-flex justify-content-center mb-2">
                    <button mat-raised-button class="button-bg-accent-1 border-radius-0">
                        <mat-icon [style.fontSize.rem]="1.2">
                            create_new_folder
                        </mat-icon>
                        CRIAR TURMA
                    </button>
                </div>
                <!-- End -->

                <!-- Teacher place name -->
                <div class="mb-2 px-3">
                    <h4>
                        Turma de Análise estatística II
                    </h4>
                </div>
                <!-- End -->

                <!-- The value to receive per teacher place -->
                <div class="d-flex flex-column px-3 mb-2">
                    <div class="irrelevant-text">
                        Matriculados
                    </div>
                    <div>
                        <h2 class="bold-400">
                            36
                        </h2>
                    </div>
                </div>
                <!-- End -->

                <!-- Studants enrolled -->
                <div class="d-flex mb-2 align-items-center px-3">
                    <div class="img-profile-xm mr-2">
                        <img src="../../../assets/images/pexels-pixabay-207691.jpg">
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#" class="irrelevant-text discretLink bold-500">
                            Manuel Simão
                        </a>
                        <div class="irrelevant-text">
                            31 dias restantes
                        </div>
                    </div>
                </div>
                <!-- End -->

                <!-- Studants enrolled -->
                <div class="d-flex mb-2 align-items-center px-3">
                    <div class="img-profile-xm mr-2">
                        <img src="../../../assets/images/pexels-jawm-ling-2748123.jpg">
                    </div>
                    <div class="d-flex flex-column">
                        <a href="#" class="irrelevant-text discretLink bold-500">
                            Eloisa Gonçalves
                        </a>
                        <div class="irrelevant-text">
                            30 dias restantes
                        </div>
                    </div>
                </div>
                <!-- End -->

            </div>
            <!-- End -->

        </div>
    </div>

</div>