<div class="main">
    <div class="section">
        <!-- Studant inscrited information -->
        <div class="container-row">
            <div class="item">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="img-profile-xm mr-4">
                        <img src="../../../assets/images/pexels-luis-gomes-546819.jpg">
                    </div>
    
                    <a class="discretLink mr-4" href="#"> Hélmer Adriano </a>
                </div>
                <span class="text-desabled irrelevant-text-xm"> 
                    40 dias restantes
                </span>                
            </div>
        </div>
        <!-- End -->


        <!-- Studant inscrited information -->
        <div class="container-row">
            <div class="item">
                <div class="d-flex justify-content-start align-items-center">
                    <div class="img-profile-xm mr-4">
                        <img src="../../../assets/images/pexels-christina-morillo-1181519.jpg">
                    </div>
    
                    <a class="discretLink mr-4" href="#"> Stélvia Judith </a>
                </div>
                <span class="text-desabled irrelevant-text-xm text-color-danger"> 
                    5 dias restantes
                </span>                
            </div>
        </div>
        <!-- End -->

    </div>

</div>