@use '../../../shared/styles/standard-layout-1';

.teacher-place-profile-main{
    @extend %main;
}

.teacher-place-container{
    @extend %container;
}

#teacher-place-image-profile{
    width: 100%;
    height: 7rem;
    position: relative;
}

#teacher-place-image-profile > img{
    object-fit: cover;
    height: 100%;
}

#teacher-place-information{
    width: 96%;
}

