<div class="main bg-white">
    <div class="section">
        <div class="container-row">
            <!-- Teacher goals -->
            <div class="item p-3">
                <div>
                    <h4 class="bold-500 mb-2">
                        Objectivos
                    </h4>
                </div>
                <p class="text-justify">
                    Et harum quidem rerum facilis est et expedita distinctio. 
                    Nam libero tempore, cum soluta nobis est eligendi optio 
                    cumque nihil impedit quo minus id quod maxime placeat facere 
                    possimus, omnis voluptas assumenda est, omnis dolor repellendus. 
                    Temporibus autem quibusdam et aut officiis debitis aut rerum 
                    necessitatibus saepe eveniet ut et voluptates
                </p>
            </div>
            <!-- End -->

            <!-- Schools -->
            <div class="item p-3">
                <div>
                    <h4 class="bold-500 mb-2">
                        Escolas
                    </h4>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <div class="img-profile-xm mr-4">
                            <img src="../../../assets/images/istpec_logo_yellow.png">
                        </div>
                        <a href="#" class="primaryLink">
                            Instituto Superior Politécnico de Tecnologia e Ciências
                        </a>
                    </div>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>