@import '../../../../shared/styles/standard-layout';
a{
    color: inherit !important;
}

a:hover{
    color: var(--palette-black-alpha-100) !important;
}

.main{
    @extend %main;
}

.section{
    @extend %section;
}

.container-row{
    @extend %container-row;
    justify-content: space-between;
}

.item{
    width: 49%; 
    background-color: white;   
}

mat-card-title{
    margin-bottom: 1rem !important;
}

::ng-deep .ql-editor{
 padding: 0 !important;   
}