/* This standard is used often in list layouts */
 
%main {
    display: flex; 
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    overflow-x: hidden;
    background-color: rgba(var(--palette-neutral-2, 248, 248, 248), 1);
}
 
%section {
    height: 100%;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

%container-row{
    display: flex;
    flex-direction: row; 
    width: 100%;    
}

%container-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

%item {
    width: 23.5%;
    margin:0 2% 2% 0;    
}

.item:nth-child(4n){
    margin-right: 0 !important;
}

/*@TODO: See the question of the responsive layout */
/*
@media (max-width: 1230px) {    
    %item {
        max-width: 32% !important;
    }
}

@media (max-width: 992px) {
    %item{
        max-width: 100% !important;
    }
}*/
