@import '../../../shared/styles/standard-layout';

.main{
    @extend %main;
    justify-items: center;
}

.card{
    width: 500px;
    height: auto;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mat-step-header{
    display: none !important;
}

.mat-horizontal-content-container{
    height: 100%;
}

mat-dialog-content{
    height: auto !important;
    max-height: unset;
}

#description-field{
    width: 100%;
    height: 7rem;
    line-height: 1.2rem;
}