<div class="main">
    <div class="section">
        <div class="mb-2 ">
            <h1 class="bold-500">
                Escolas
            </h1>

        </div>
        <div class="container-row">
            <!-- Teacher schools -->
            <div class="studants-requests item border rounded">
                <!-- Title card -->
                <div class="relevant-text-title mb-4 px-3 pt-3 d-flex align-items-center justify-content-between">
                    <span>
                        Escolas em que pertenço
                    </span>
                    <button mat-icon-button>
                        <mat-icon> more_vert</mat-icon>
                    </button>
                </div>
                <!-- End -->

                <ng-container *ngIf="teacherSchools$ | async as teacherSchools; else loadingItem">
                    <ng-container *ngIf="teacherSchools.length > 0; else noTeacherSchool">
                        <!-- School information -->
                        <div *ngFor="let teacherSchool of teacherSchools; let i = index"
                            class="d-flex align-items-center px-3 w-100 mb-3">
                            <!-- School image -->
                            <div class="img-profile-xm align-self-start mr-3 mt-2">
                                <img [src]="teacherSchool.school.profilePhotoPath">
                            </div>
                            <!-- End -->

                            <!-- Relevant metadata -->
                            <div class="d-flex flex-column w-100">
                                <!-- School name -->
                                <div class="relevant-text-bold">
                                    <a [routerLink]="['../../profile/about',teacherSchool.school.id]"
                                        class="discretLink">
                                        {{teacherSchool.school.name}}
                                    </a>
                                </div>
                                <!-- End -->

                                <!-- Elapsed time -->
                                <div class="irrelevant-text-xm text-disabled">
                                    {{teacherSchool.dateSituation | elapsed}}
                                </div>
                                <!-- End -->
                            </div>
                            <!-- End -->
                        </div>
                        <!-- End -->
                    </ng-container>
                    <!-- If no belong of some school-->
                    <ng-template #noTeacherSchool>
                        <div class="irrelevant-text-xm text-disabled m-auto p-4">
                            Não pertence a alguma escola, pesquisa uma escola que deseja fazer parte
                        </div>
                    </ng-template>
                    <!-- End -->
                </ng-container>
            </div>
            <!-- End -->

            <!-- Schools requests -->
            <div class="item teacher-place-finance border rounded">
                <!-- Title card -->
                <div class="relevant-text-title mb-4 px-3 pt-3 d-flex align-items-center justify-content-between">
                    <span>
                        Escolas que desejo pertencer
                    </span>
                    <button mat-icon-button>
                        <mat-icon> more_vert</mat-icon>
                    </button>
                </div>
                <!-- End -->

                <ng-container *ngIf="teacherSchoolRequests$ | async as teacherSchoolRequests; else loadingItem">
                    <ng-container *ngIf="teacherSchoolRequests.length > 0; else noTeacherSchoolRequests">
                        <!-- School information -->
                        <div *ngFor="let teacherRequest of teacherSchoolRequests"
                            class="d-flex align-items-center px-3 w-100 mb-3">
                            <!-- School image -->
                            <div class="img-profile-xm align-self-start mr-2 mt-2">
                                <img [src]="teacherRequest.school.profilePhotoPath">
                            </div>
                            <!-- End -->

                            <!-- Relevant metadata -->
                            <div class="d-flex flex-column w-100">
                                <!-- Elapsed time -->
                                <div class="irrelevant-text-xm text-disabled">
                                    {{teacherRequest.dateSituation | elapsed}}
                                </div>
                                <!-- School name -->
                                <div class="relevant-text-bold d-flex">
                                    <a href="#" class="discretLink">
                                        {{teacherRequest.school.name}}
                                    </a>
                                </div>
                                <!-- End -->
                                <!-- Action -->
                                <div appMessageFallBack="cancelingRequest"
                                    appearance="irrelevant-text-xm text-disabled-1">
                                    <button class="discretButton relevant-text-error irrelevant-text-xm p-0 m-0">
                                        Cancelar pedido
                                    </button>
                                </div>
                                <!-- End -->
                            </div>
                            <!-- End -->
                        </div>
                        <!-- End -->
                    </ng-container>
                    <!-- If not have any school requests -->
                    <ng-template #noTeacherSchoolRequests>
                        <div class="irrelevant-text-xm text-disabled m-auto p-4">
                            Sem pedidos à escolas
                        </div>
                    </ng-template>
                </ng-container>
            </div>
            <!-- End -->

            <!-- Schools to be requested -->
            <div class="item rounded teacher-place-enrolled border rounded">
                <!-- Title card -->
                <div class="relevant-text-title mb-4 px-3 pt-3 d-flex align-items-center justify-content-between">
                    <span>
                        Escolas
                    </span>

                </div>
                <!-- End -->

                <div class="d-flex flex-wrap">
                    <ng-container *ngIf="unsubscribedSchools$ | async as schools; else loadingItem">
                        <ng-container *ngIf="schools.length > 0; else noSchools">
                            <!-- School information -->
                            <div *ngFor="let school of schools"
                                class="d-flex flex-column align-items-center px-3 w-100 mb-3">
                                <!-- School image -->
                                <div class="img-profile-xm mb-2 mt-2">
                                    <img [src]="school.profilePhotoPath">
                                </div>
                                <!-- End -->

                                <!-- Relevant metadata -->
                                <div class="d-flex flex-column align-items-center w-100">
                                    <!-- School name -->
                                    <div class="relevant-text-bold d-flex">
                                        <a href="#" class="discretLink">
                                            {{school.shortName}}
                                        </a>
                                    </div>
                                    <!-- End -->
                                    <!-- Action -->
                                    <div appMessageCallBack="makingRequest"
                                        appearance="irrelevant-text-xm text-disabled-1"
                                        (click)="sendTeacherSchoolRequest(school.id)">
                                        <button mat-button class="text-color-primary">
                                            Entrar
                                        </button>
                                    </div>
                                    <!-- End -->
                                </div>
                                <!-- End -->
                            </div>
                            <!-- End -->

                            <ng-template *ngIf="schools.length > 12">
                                <div class="w-100 d-flex justify-content-center">
                                    <button mat-button class="w-100">
                                        Ver tudo
                                    </button>
                                </div>
                            </ng-template>
                        </ng-container>

                        <ng-template #noSchools>
                            <div class="irrelevant-text-xm text-disabled m-auto p-4">
                                <button mat-flat-button color="primary">
                                    Crie a tua própria escola
                                </button>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>


<!-- Shared templates -->

<ng-template #loadingItem>
    <div class="w-100 p-3">
        <app-loading-item>

        </app-loading-item>
    </div>
</ng-template>