<div class="main">
    <div class="section">
        <div class="d-flex mb-2 w-100 justify-content-between align-items-center">
            <h1 class="bold-500" *ngIf="formation">
                {{formation.theme}}
            </h1>
            <button mat-flat-button (click)="onPublishFormation()" class="d-flex align-items-center justify-content-center button-bg-accent-1"
            *ngIf="formation && !formation.published">  
                <mat-icon class="mr-2">launch</mat-icon>          
                <span>Publicar</span>
            </button>
        </div>
        <div class="border w-100 mb-4">
            <div class="d-flex ml-2 mr-4 my-3">
                <button mat-icon-button>
                    <mat-icon>filter_list</mat-icon>
                </button>
                <div class="w-100 h-100 d-flex flex-column">
                    <input class="form-control" #search type="text" placeholder="Pesquisar módulo">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button mat-flat-button color="accent" class="h-100 ml-2" (click)="onCreateModules()">
                        Novo módulo
                    </button>
                </div>
            </div>
        </div>
        <ng-container *ngIf="modules$ | async as modules; else loadingPage">
            <ng-container *ngIf="modules.length > 0; else noModules">
                <!-- Modules lists -->
                <div class="section">
                    <div class="container-row">
                        <div class="item bg-white border p-0 " *ngFor="let module of modules;">
                            <!-- Modules Data -->
                            <div class="background-image mb-2">
                                <img [src]="buildImageUrl(module.picture)">
                            </div>

                            <div class="d-flex flex-column p-3">
                                <div
                                    class="relevant-text-normal bold-500 text-ellips mb-2 d-flex justify-content-between align-items-center">
                                    <a routerLink="/lesson/managment"
                                        [queryParams]="{formationId:module.formationId, moduleId:module.id}"
                                        class="primaryLink">
                                        Módulo {{module.sequence}} - {{module.name}}
                                    </a>
                                    <div class="text-disabled-1">
                                        <button mat-button mat-icon-button>
                                            <mat-icon>
                                                more_horiz
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div class="d-flex w-100">
                                    <div class="d-flex flex-column w-100 align-items-start">
                                        <div class="d-flex align-items-center 
                                        justify-content-between w-100">
                                            <span class="irrelevant-text-sm text-disabled-1">
                                                7 aulas
                                            </span>
                                            <div class="d-flex justify-content-center">
                                                <button mat-button mat-stroked-button [matMenuTriggerFor]="lessonType">
                                                    Nova aula <mat-icon>expand_more</mat-icon>
                                                </button>
                                                <mat-menu #lessonType="matMenu">
                                                    <button mat-menu-item (click)="onCreateVideo(module.id)">
                                                        <mat-icon class="text-color-primary">video_library</mat-icon>
                                                        Vídeo-aula
                                                    </button>

                                                    <button mat-menu-item (click)="onCreateArticle(module.id)">
                                                        <mat-icon class="text-color-primary">article</mat-icon>
                                                        Artigo
                                                    </button>
                                                </mat-menu>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End -->
            </ng-container>
        </ng-container>
        <ng-template #loadingPage>
            <app-loading-page class="w-100"></app-loading-page>
        </ng-template>
    </div>
</div>


<ng-template #noModules>
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <a class="primaryLink" (clik)="onCreateModules()">
            Para poder adicionar aulas, crie um módulo
        </a>
    </div>
</ng-template>

<ng-template #loadingItems>
    <app-loading-item></app-loading-item>
</ng-template>

<ng-template #spinner>
    <div class="d-flex justify-content-center align-items-center p-2">
        <mat-spinner color="primary" diameter=40 margin="auto"></mat-spinner>
    </div>
</ng-template>