<div class="main">
    <div class="progress-section">
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="inProgress"></mat-progress-bar>
    </div>
    <div class="login-card rounded border shadow">

        <!-- Brand image-->
        <div class="w-100 d-flex justify-content-center mb-4">
            <h1 class="brand d-flex align-items-center">
                <mat-icon class="mr-2">school</mat-icon> alumny
            </h1>
        </div>
        <!-- End -->

        <form [formGroup]="authGroup">
            <!-- Form itens -->
            <div class="mb-5 w-100">
                <!-- Email input -->
                <p class="w-100">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput [formControl]="email">
                        <mat-error *ngIf="email.touched &&  email.hasError('required')">
                            Insira um email
                        </mat-error>
                        <mat-error *ngIf="email.touched && email.hasError('matched')">
                            Formato do email inváido
                        </mat-error>
                    </mat-form-field>
                </p>
                <!-- End -->

                <!-- Password input -->
                <p class="w-100">
                    <mat-form-field appearance="legacy" class="w-100">
                        <mat-label>Palavra passe</mat-label>
                        <input matInput type="password" [formControl]="password">
                        <button matSuffix mat-icon-button>
                            <mat-icon>
                                visibility
                            </mat-icon>
                        </button>
                        <mat-error *ngIf="password.touched &&  password.hasError('required')">
                            Insere a palavra passe
                        </mat-error>
                    </mat-form-field>
                </p>
                <!-- End -->
            </div>
            <!-- End -->

            <!-- Sign in button -->
            <div class="d-flex justify-content-center w-100 mb-2">
                <button mat-flat-button class="button-bg-accent-1 w-100" type="submit" (click)="onSubmit()">
                    Entrar
                </button>
            </div>
            <!-- End -->
        </form>


        <!-- Forget of passowrd -->
        <div class="d-flex flex-column mb-4">
            <span class="irrelevant-text">
                <a href="#">esqueci-me da palavra passe</a>
            </span>
        </div>
        <!-- End -->

        <!-- Registrate -->
        <mat-divider class="w-100 my-2"></mat-divider>
        <div class="w-100 d-flex justify-content-center">
            <button mat-button color="accent" (click)="gotoRegistrationStudant()">
                Registar
            </button>
        </div>
        <!-- End -->
    </div>
</div>