<div class="main">
    <div class="section">
        <div class="container-items">
            <!-- His classmates -->
            <div class="item">
                <div class="img-profile-xm mb-2">
                    <img src="../../../assets/images/pexels-jawm-ling-2748123.jpg">
                </div>
                <button mat-icon-button class="more_button">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                <div>
                    <a class="primaryLink" href="#">
                        Suzi Suzi
                    </a>
                </div>
                <div>
                    <span class="irrelevant-text-sm">
                        Licenciado em Engenharia Informática
                    </span>
                </div>
            </div>
            <!-- End -->

            <!-- His classmates -->
            <div class="item">
                <div class="img-profile-xm mb-2">
                    <img src="../../../assets/images/pexels-jawm-ling-2748123.jpg">
                </div>
                <button mat-icon-button class="more_button">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                <div>
                    <a class="primaryLink" href="#">
                        Suzi Suzi
                    </a>
                </div>
                <div>
                    <span class="irrelevant-text-sm">
                        Licenciado em Engenharia Informática
                    </span>
                </div>
            </div>
            <!-- End -->

            <!-- His classmates -->
            <div class="item">
                <div class="img-profile-xm mb-2">
                    <img src="../../../assets/images/pexels-jawm-ling-2748123.jpg">
                </div>
                <button mat-icon-button class="more_button">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                <div>
                    <a class="primaryLink" href="#">
                        Suzi Suzi
                    </a>
                </div>
                <div>
                    <span class="irrelevant-text-sm">
                        Licenciado em Engenharia Informática
                    </span>
                </div>
            </div>
            <!-- End -->

            <!-- His classmates -->
            <div class="item">
                <div class="img-profile-xm mb-2">
                    <img src="../../../assets/images/pexels-jawm-ling-2748123.jpg">
                </div>
                <button mat-icon-button class="more_button">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                <div>
                    <a class="primaryLink" href="#">
                        Suzi Suzi
                    </a>
                </div>
                <div>
                    <span class="irrelevant-text-sm">
                        Licenciado em Engenharia Informática
                    </span>
                </div>
            </div>
            <!-- End -->

            <!-- His classmates -->
            <div class="item">
                <div class="img-profile-xm mb-2">
                    <img src="../../../assets/images/pexels-jawm-ling-2748123.jpg">
                </div>
                <button mat-icon-button class="more_button">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                <div>
                    <a class="primaryLink" href="#">
                        Suzi Suzi
                    </a>
                </div>
                <div>
                    <span class="irrelevant-text-sm">
                        Licenciado em Engenharia Informática
                    </span>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
</div>