@import '../../../shared/styles/standard-layout';

.main{
    @extend %main;
}

.section{
    @extend %section;
}

.container-row{
    @extend %container-row;
}

.state-info{
    position: absolute;
    right: 3%;
    top: 8%;
}