<div class="main bg-white">
    <div class="section mb-4">
        <div class="container-row">
            <!-- Question -->
            <div class="item">
                <!-- Basics informations -->
                <div class="d-flex align-items-center">
                    <div class="img-profile-xm mr-4">
                        <img src="../../../assets/images/lesson2.jpg">
                    </div>
                    <a href="#" class="primaryLink">
                        Turma de Programação IV
                    </a>
                </div>

                <a href="#" class="discretLink irrelevant-text-xm">
                    Aula nº 1 - Declaração de variáveis e tipos de dados
                </a>
                <h4 class="bold-500">
                    Como funciona o endereçamento das variáveis na memória?
                </h4>
                <!-- End -->

                <!-- Question content -->
                <div class="short-description">
                    n the other hand, we denounce with righteous indignation and
                    dislike men who are so beguiled and demoralized by the charms
                    of pleasure of the moment, so blinded by desire, that they
                    cannot foresee the pain and trouble that are bound to ensue;
                    and equal blame belongs to those who fail in their duty through
                </div>
                <!-- End -->

                <!-- Some action -->
                <button mat-button class="still-reading">
                    Ver mais
                </button>
                <!-- End -->
                <!-- End -->
            </div>
        </div>        
    
        <mat-divider class="mb-2"></mat-divider>

        <!-- Question -->
        <div class="item">
            <!-- Basics informations -->
            <div class="d-flex align-items-center">
                <div class="img-profile-xm mr-4">
                    <img src="../../../assets/images/lesson2.jpg">
                </div>
                <a href="#" class="primaryLink">
                    Turma de Programação IV
                </a>
            </div>

            <a href="#" class="discretLink irrelevant-text-xm">
                Aula nº 1 - Declaração de variáveis e tipos de dados
            </a>
            <h4 class="bold-500">
                Como funciona o endereçamento das variáveis na memória?
            </h4>
            <!-- End -->

            <!-- Question content -->
            <div class="short-description">
                n the other hand, we denounce with righteous indignation and
                dislike men who are so beguiled and demoralized by the charms
                of pleasure of the moment, so blinded by desire, that they
                cannot foresee the pain and trouble that are bound to ensue;
                and equal blame belongs to those who fail in their duty through
            </div>
            <!-- End -->

            <!-- Some action -->
            <button mat-button class="still-reading">
                Ver mais
            </button>
            <!-- End -->
            <!-- End -->
        </div>
    </div>
</div>