<div class="main bg-white ">
    <button mat-icon-button class="more_button">
        <mat-icon>
            more_vert
        </mat-icon>
    </button>
    <div class="section">
        <!-- Video Spotlight -->
        <div class="container-row">
            <div class="video-spotlight">
                <div class="d-flex flex-column align-self-start mb-2">
                    <!-- Video Lesson Title -->
                    <div>
                        <h4>
                            <a href="#" class="discretLink">
                                Declaração de variáveis e tipos de dados
                            </a>
                        </h4>
                    </div>
                    <!-- End -->
                    <div class="d-flex">
                        <!-- Teacher place profile -->
                        <div class="img-profile-xm mr-4">
                            <img src="../../../assets/images/lesson2.jpg">
                        </div>
                        <!-- End -->
                        <!-- Teacher place name -->
                        <div class="d-flex flex-column">
                            <h5>
                                <a href="#" class="primaryLink">Turma de Algoritmo e Programação </a>
                            </h5>
                            <div>
                                <span class="irrelevant-text-xm">
                                    Há 2 dias
                                </span>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                </div>
                <div>
                    <app-video></app-video>
                </div>
            </div>
        </div>
        <!-- End Video Spotlight -->

        <div class="container-row">
            <div class="article-spotlight">
                <div class="d-flex flex-column align-self-start mb-2">
                    <!-- Video Lesson Title -->
                    <div>
                        <h4>
                            <a href="#" class="discretLink">
                                Vectores e Matrizes
                            </a>
                        </h4>
                    </div>
                    <!-- End -->
                    <div class="d-flex">
                        <!-- Teacher place profile -->
                        <div class="img-profile-xm mr-4">
                            <img src="../../../assets/images/lesson2.jpg">
                        </div>
                        <!-- End -->
                        <!-- Teacher place name -->
                        <div class="d-flex flex-column">
                            <h5>
                                <a href="#" class="primaryLink">Turma de Algoritmo e Programação </a>
                            </h5>
                            <div>
                                <span class="irrelevant-text-xm">
                                    Há 3 dias
                                </span>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                </div>                
                <div class="background-image">
                    <img src="../../../assets/images/pexels-christina-morillo-1181519.jpg">
                </div>
                <div class="d-flex flex-column p-2 border">
                    <h3 class="bold-500">
                        At vero eos et accusamus et iusto odio dignissimos
                    </h3>
                    <p class="text-justify">
                        At vero eos et accusamus et iusto odio dignissimos ducimus 
                        qui blanditiis praesentium voluptatum deleniti atque corrupti
                         quos dolores et quas molestias excepturi sint occaecati cupiditate 
                         non provident, similique sunt in culpa qui officia deserunt mollitia 
                         At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                          praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
                          excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui 
                          officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                    <button mat-button>
                        Continuar a ler
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>