@import '../../../../shared/styles/standard-layout';

.main{
    @extend %main;
    position: relative;
}

.section{
    @extend %section;
}

.container-row{
    @extend %container-row;
    justify-content: center;
}

/* Video spotlight*/
.video-spotlight, .article-spotlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;    
    margin-bottom: 2rem;
}

.video-view{
    width: 40% !important;
}
/* End */

/* Article spotlight */
.background-image{
    height: 3rem;
    width: 100;
}
