@import '../../../../shared/styles/standard-layout-0';

.main{
    @extend %main;
}

.section{
    @extend %section;
    align-items: flex-start;
}

.item{
    @extend %item;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-items{
    @extend %container-items;
}

