<div class="main bg-white">
    <div class="section">
        <div class="container-items">
            <div class="item">
                <div>
                    <h4 class="bold-500">
                        Engenharia Informática
                    </h4>
                </div>
                <div>
                    <a href="#" class="primaryLink">
                        <h5>
                            com 118 matriculados
                        </h5>
                    </a>
                </div>

                <button mat-raised-button class="mt-2 bold-400">
                    Ver 8 turmas
                </button>
            </div>
        </div>
    </div>
</div>